<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name =  "test">
	<test name = "Login ">
		<classes>
			<class name="testCases.EXHIBITOR_LOGIN"></class>
		</classes>
	</test>
	<test name = "List of Channels ">
		<classes>
			<class name="testCases.LIST_CHANNELS"></class>
		</classes>
	</test>
	<test name="Channel search from Discover">
		<classes>
			<class name="testCases.SEARCH_CHNL_DISCOVER"></class>
		</classes>
	</test>
	</suite>